.article-list {
    list-style: none;
}

.article-preview {
    border: solid green 2px
}


#header {
    border: solid red 2px
}

#main {
    border: solid red 2px
}

#footer {
    border: solid red 2px
}