
.accordion-title {
    border: solid blue 2px;
    display: flex;
    justify-content: space-evenly;
}

.article-list {
    list-style: none;
}

.article-preview {
    border: solid green 2px
}

.article-votes {
    align-items: center;
    border: solid purple 1px;
    display: flex;
    justify-content: space-evenly;
}

.comment-list {
    list-style: none;
    padding: .25em
}

.comment-card {
    border: solid blue 1px
}

.vote-button {
    height: 2em;
}



#header {
    border: solid red 2px
}

#main {
    border: solid red 2px
}

#footer {
    border: solid red 2px
}